@model IEnumerable<RedditCloneAndAuthentication.Models.Post>


@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-md-8"><strong>Hot posts</strong></div>

                @if (HttpContext.Current.User.Identity.IsAuthenticated) //only show create button to users who are logged in
                {
                    <div class="col-md-4">@Html.ActionLink("Create Post", "Create", "Posts", null, new { @class = "btn btn-primary btn-lg" })</div>
                }
            </div>

        </li>

            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">


                            @using (Html.BeginForm("Up", "Vote", new { id = item.Id }))
                            {
                                <button btn="btn btn-link">
                                    <i class="glyphicon glyphicon-arrow-up"></i>
                                </button>
                            }

                            <span>@(item.UpVotes - item.DownVotes)</span>
                            <a href="Vote/Down/@item.Id">
                                <i class="glyphicon glyphicon-arrow-down"></i>
                            </a>
                        </div>
                        <div class="col-md-10">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="..." alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">@item.Title</h4>
                                    <p>@item.UserName</p>
                                    <p>@item.PostedTimeStamp</p>
                                    <p>@item.PostImg</p>
                                </div>
                            </div>


                        </div>
                </li>

            }
        </div>

    </ul>
</div>
